@model SistemasLegales.Models.Entidades.Accion

@{
    ViewData["Titulo"] = "GESTI\u00D3N DE REQUISITOS";
    ViewData["Subtitulo"] = "Editar Acci\u00f3n";

}
@section Migas{
    <li><a asp-action="IndexFinalizado" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')">Requisitos Hist&oacute;ricos</a></li>
    <li><a asp-action="DetallesFinalizado" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" asp-route-id="@Model.IdRequisito">Detalles</a></li>
    <li class="active">Editar Acci&oacute;n</li>
}

@section CSS{
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/boootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet" />
}

<form asp-action="EditarFinalizado" novalidate="novalidate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdAccion" />
    <input type="hidden" asp-for="IdRequisito" />
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">

                <label>Fecha</label>
                <div class="input-group margin-bottom-0 focused">
                    <input class="form-control datepicker" asp-for="Fecha" />
                    <span class="input-group-addon bg btndatepicker"><i class="fa fa-calendar"></i></span>
                </div>
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <label>Detalle</label>
                <textarea asp-for="Detalle" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Detalle" class="text-danger"></span>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-xs-offset-6">
            <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" id="btn-guardar">
                <span class="ladda-label" id="laddaSpanGuardar">ACEPTAR</span>
            </button>
            <a asp-action="DetallesFinalizado" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" asp-route-id="@Model.IdRequisito" class="btn btn-default">CANCELAR</a>
        </div>
    </div>

</form>





@section Scripts{

    @{ await Html.RenderPartialAsync("_DatepickerPartial"); }
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

