@model RequisitoLegal
@{
    ViewData["Titulo"] = "BASES LEGALES";
    ViewData["Subtitulo"] = ViewData["accion"];

}
@section Migas{
    <li><a asp-action="Index" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')">Bases legales</a></li>
    <li class="active">@ViewData["accion"]</li>
}
@section CSS{
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
}

<form asp-action="Gestionar" class="form-horizontal" novalidate="novalidate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        if (Model != null)
        {
            <input type="hidden" asp-for="IdRequisitoLegal" />
        }
    }
    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="IdOrganismoControl"></label>
        </div>
        <div class="col-md-10 col-xs-10 padding-left-5 padding-right-5">
            <div class="card-inner padding-0 margin-bottom-0">
                <div class="demo margin-top-0">
                    <select asp-for="IdOrganismoControl" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.OrganismoControl"></select>
                </div>
                <span asp-validation-for="IdOrganismoControl" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="Nombre"></label>
        </div>
        <div class="col-md-10 col-xs-10 padding-left-5 padding-right-5">
            <div class="card-inner padding-0 margin-bottom-0">
                <div class="demo margin-top-0">
                    <input asp-for="Nombre" class="form-control" />
                </div>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-xs-offset-4">
            <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" id="btn-guardar">
                <span class="ladda-label" id="laddaSpanGuardar">ACEPTAR</span>
            </button>
            <a asp-action="Index"  onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" class="btn btn-default">CANCELAR</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_SelectPartial"); }
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}