@model RegisterViewModel
@{
    ViewData["Titulo"] = "USUARIOS";
    ViewData["Subtitulo"] = "Registro de usuarios";
}
@section Migas{
    <li><a asp-action="Users" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')">Usuarios</a></li>
    <li class="active">Registro de usuarios</li>
}
@section CSS{
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
}

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        if (Model != null)
        {
            <input type="hidden" asp-for="Id" />
        }
    }
    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="UserName"></label>
        </div>
        <div class="col-md-10 col-xs-10">
            <div class="form-group">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="Role"></label>
        </div>
        <div class="col-md-10 col-xs-10">
            <div class="form-group">
                <select asp-for="Role" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="Empresa"></label>
        </div>
        <div class="col-md-10 col-xs-10">
            <div class="form-group">
                <select asp-for="Empresa" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Empresas"></select>
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="Password"></label>
        </div>
        <div class="col-md-10 col-xs-10">
            <div class="form-group">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="ConfirmPassword"></label>
        </div>
        <div class="col-md-10 col-xs-10">
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-xs-offset-4">
            <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" id="btn-guardar">
                <span class="ladda-label" id="laddaSpanGuardar">ACEPTAR</span>
            </button>
            <a asp-action="Users" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" class="btn btn-default">CANCELAR</a>
        </div>
    </div>
</form>

@section Scripts {
    @*@{ await Html.RenderPartialAsync("_SelectPartial"); }*@
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
