@model ChangePasswordViewModel
@{
    ViewData["Titulo"] = "PRINCIPAL";
    ViewData["Subtitulo"] = "Cambiar contraseña";
}
@section Migas{
    <li class="active">Cambiar contraseña</li>
}

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-3 col-xs-4 form-control-label">
            <label asp-for="PasswordAnterior"></label>
        </div>
        <div class="col-md-5 col-xs-8">
            <div class="form-group">
                <input asp-for="PasswordAnterior" class="form-control" />
                <span asp-validation-for="PasswordAnterior" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-xs-4 form-control-label">
            <label asp-for="Password"></label>
        </div>
        <div class="col-md-5 col-xs-8">
            <div class="form-group">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-xs-4 form-control-label">
            <label asp-for="ConfirmPassword"></label>
        </div>
        <div class="col-md-5 col-xs-8">
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-xs-offset-4">
            <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" id="btn-guardar">
                <span class="ladda-label" id="laddaSpanGuardar">ACEPTAR</span>
            </button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
