@model Documento
@{
    ViewData["Titulo"] = "REQUISITOS";
    ViewData["Subtitulo"] = ViewData["accion"];

}
@section Migas{
    <li><a asp-action="Index" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" >Requisitos</a></li>
    <li class="active">@ViewData["accion"]</li>
}

@section CSS{
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/boootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-fileinput/css/fileinput.min.css">
}


<form asp-action="Gestionar" class="form-horizontal" novalidate="novalidate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        if (Model != null)
        {
            <input type="hidden" asp-for="IdDocumento" />
        }
    }
    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="IdRequisitoLegal"></label>
        </div>
        <div class="col-md-10 col-xs-10 padding-left-5 padding-right-5">
            <div class="card-inner padding-0 margin-bottom-0">
                <div class="demo margin-top-0">
                    <select asp-for="IdRequisitoLegal" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.RequisitoLegal"></select>
                </div>
                <span asp-validation-for="IdRequisitoLegal" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="Nombre"></label>
        </div>
        <div class="col-md-10 col-xs-10 padding-left-5 padding-right-5">
            <div class="card-inner padding-0 margin-bottom-0">
                <div class="demo margin-top-0">
                    <input asp-for="Nombre" class="form-control" />
                </div>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="Tipo"></label>
        </div>
        <div class="col-md-10 col-xs-10 padding-left-5 padding-right-5">

            <div class="demo margin-top-0">
                <select asp-for="Tipo" class="form-control show-tick" data-live-search="true">
                    <option value="1">D&iacute;as</option>
                    <option value="2">Meses</option>
                    <option value="3">A&ntilde;os</option>
                </select>
            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-md-2 col-xs-2 form-control-label">
            <label asp-for="Cantidad"></label>
        </div>
        <div class="col-md-10 col-xs-10 padding-left-5 padding-right-5">

            <div class="input-group spinner focused margin-bottom-0" data-trigger="spinner">
                <input type="text" asp-for="Cantidad" class="form-control" data-rule="quantity" />
                <span class="input-group-addon">
                    <a href="javascript:;" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="javascript:;" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                </span>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-xs-offset-4">
                <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" id="btn-guardar">
                    <span class="ladda-label" id="laddaSpanGuardar">ACEPTAR</span>
                </button>
                <a asp-action="Index" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" class="btn btn-default">CANCELAR</a>
            </div>
        </div>
</form>

@section Scripts{
    <script src="~/lib/jquery-spinner/js/jquery.spinner.js"></script>

    @{ await Html.RenderPartialAsync("_SelectPartial"); }
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}