@model Requisito
@{
                int semaforo = Model.ObtenerSemaforo();
                string dias = Model.ObtenerDias();

    if (semaforo == 1)
    {
        <span class="label label-success col-lg-12">@dias</span>
    }
    else if (semaforo == 2)
    {
        <span class="label bg-yellow col-lg-12">@dias</span>
    }
    else
    {
        <span class="label label-danger col-lg-12">@dias</span>
    }
}