@model IEnumerable<OrganismoControl>
@{
    ViewData["Titulo"] = "ORGANISMOS DE CONTROL";
    ViewData["Subtitulo"] = "LISTADO";

}
@section Migas{
    <li><a asp-action="Index" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')">Organismos de control</a></li>
    <li class="active">Listado</li>
}
@section CSS{
    @{await Html.RenderPartialAsync("_DatatablesCSSPartial");}
}

@{
    if (User.IsInRole(Perfiles.Gestor) || User.IsInRole(Perfiles.Administrador))
    {
        <div class="row">
            <div class="col-lg-2 col-sm-4 col-xs-12">
                <a asp-action="Gestionar" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" class="btn btn-primary waves-effect">NUEVO</a>
            </div>
        </div>
    }
}

<div class="table-responsive padding-15">
    <table id="datatable-responsive" class="table table-striped table-bordered nowrap dataTable" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
                </th>
                @{ 
                    if (User.IsInRole(Perfiles.Gestor) || User.IsInRole(Perfiles.Administrador))
                    {
                        <th>
                            Opciones
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p class="font-12 text-left">@item.Nombre </p>

                        </td>
                        @{ 
                            if (User.IsInRole(Perfiles.Gestor) || User.IsInRole(Perfiles.Administrador))
                            {
                                <td>
                                    <a asp-action="Gestionar" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" class="font-12 text-left" asp-route-id="@item.IdOrganismoControl">Editar</a> |
                                    <a href="javascript:void(0);" class="btnEliminar font-12 text-left" id="@item.IdOrganismoControl" onclick="MiApp.Datatables.eventoBtnEliminar(this)" data-descripcion="&#191;Desea eliminar el Organismo de control... ?">Eliminar</a>
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@{
    if (User.IsInRole(Perfiles.Gestor) || User.IsInRole(Perfiles.Administrador))
    {
        await Html.RenderPartialAsync("_Eliminar");
    }
}

@section Scripts{
    @{await Html.RenderPartialAsync("_DatatablesJSPartial");}
    @{await Html.RenderPartialAsync("_BootboxPartial");}
    <script src="~/js/jqueryDatatables/jqueryDatatables.min.js"></script>
}