@{
    ViewData["Titulo"] = "Principal";

}
@section Migas{
    <li class="active">Inicio</li>
}

<div class="error-box">
    <img src="~/images/logo ideal.png" class="img-responsive center-block" />
</div>

@section Scripts{ 
    <script src="~/js/principal/principal.min.js"></script>
}